.jadoo__testimonial {
  display: flex;
  margin: 0 4rem;
  position: relative;
}

.jadoo__testimonial-content h2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: #5e6282;
  margin-bottom: 1rem;
}

.jadoo__testimonial-content h1 {
  font-family: var(--font-volkhov);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  text-transform: capitalize;
  color: #14183e;
  margin-bottom: 3rem;
}

.jadoo__testimonial-people {
  width: 42rem;
  height: 22rem;
  margin: 0 6rem;
}

@media screen and (max-width: 880px) {
  .jadoo__testimonial {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    position: relative;
  }
}
