* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s linear;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: var(--bg);
}

html::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 5rem;
}

a {
  color: unset;
  text-decoration: none;
}

.background__bg {
  background: url('./assets/Decore.png') no-repeat;
  background-position: 70%;
  /* background-size: 100%; */
}

.section__padding {
  padding: 2rem 4rem;
}

.section__margin {
  margin: 2rem 4rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 1545px) {
  html {
    font-size: 80%;
  }
  .section__padding {
    padding: 4rem 5rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 80%;
  }
  .section__padding {
    padding: 2rem;
  }
  .section__margin {
    margin: 2rem;
  }
}
/* For Tablets or bigger phones */
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .section__padding {
    padding: 2rem;
  }
  .section__margin {
    margin: 2rem;
  }
}

/* For mobile devices */
@media screen and (max-width: 550px) {
  html {
    font-size: 55%;
  }
  .section__padding {
    padding: 2rem 2rem;
  }
  .section__margin {
    margin: 2rem 2rem;
  }
}
