@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap');

:root {
  --font-sans: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-volkov: 'Volkhov', serif;

  --color-text: #181e4b;

  --bg: #fff1da;
}
